
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
:root{
   font-family: 'Tilt Neon', cursive;
   --primary:rgb(248, 127, 151);
   --secondary:  rgb(245, 221, 225);
   --tertiary: rgb(248, 127, 151, 0.5);
   --fifth:  rgb(236, 233, 233);
}

a{
    text-decoration: none;
}

button{
    font-family: 'Tilt Neon', cursive;
}